aiohttp[speedups]==3.9.5
geomet<0.3,>=0.1
allure-pytest
boto3
colorama
distro
humanfriendly
Jinja2
meson
numpy
psutil
pyelftools
pyparsing
pytest-asyncio
pyudev
PyYAML
redis
requests
scylla-api-client
scylla-driver
systemd-python
tabulate
treelib
unidiff
urwid